<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload and Classify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- used for compatibility issues-->
    <p id="upload" class="hidden"><label>Drag &amp; drop not supported, but you can still upload via this input field:<br><input type="file"></label></p>
    <p id="filereader">File API &amp; FileReader API not supported</p>
    <p id="formdata">XHR2's FormData is not supported</p>
    <p id="progress">XHR2's upload progress isn't supported</p>
    
    <h1>Short Video Classification with Convolutional Neural Networks</h1>
    <div id="info">
        <div id="holder">Drag file here to upload</div>
        <div id="process">
            <p>Upload progress: <progress id="uploadprogress" max="100" value="0">0</progress></p>
            <p class="splitProgress"></p>       
            <p class="classifyProgress"></p>
        </div>        
    </div>
    
    <div id="mask"><p id="maskText">upload a short video to see the visualization</p></div>
    <div id="visualization">
        <div id="legend"></div>
        <div id="circle"></div>
        <div id="row"></div>
    </div>
</body>
<script src="{{ url_for('static', filename='visual.js') }}"></script>
<script src="{{ url_for('static', filename='dragUpload.js') }}"></script>
<script>
 
</script>

</html>